body
{
  padding: 50px;
  text-align: center;
  background-color: rgb(72, 226, 231);
}
.the_famous_pink_ball
{
  width: 200px;
  height: 200px;
  background: red;
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1s ease-in-out infinite reverse;
}
@keyframes bounce {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(100px);
  }

  100%{
    transform: translateY(0px);
  }
}
.the_famous_pink_ball1
{
  width: 200px;
  height: 200px;
  background: pink;
  border-radius: 50%;
  display: inline-block;
  animation: bounce 2s ease-in-out infinite reverse;
}
@keyframes bounce {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(100px);
  }
  100%{
    transform: translateY(0px);
  }
}
.the_famous_pink_ball2
{
  width: 200px;
  height: 200px;
  background: orange;
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1.5s ease-in-out infinite reverse;
}
@keyframes bounce {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(100px);
  }
  100%{
    transform: translateY(0px);
  }
}
.the_famous_pink_ball3
{
  width: 200px;
  height: 200px;
  background: green;
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1.1s ease-in-out infinite ;
}
@keyframes bounce {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(100px);
  }
  100%{
    transform: translateY(0px);
  }
}
.the_famous_pink_ball4
{
  width: 200px;
  height: 200px;
  background: blue;
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1.5s ease-in-out infinite ;
}
@keyframes bounce {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(100px);
  }
  100%{
    transform: translateY(0px);
  }
}
.the_famous_pink_ball5
{
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1s ease-in-out infinite ;
}
@keyframes bounce {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(100px);
  }
  100%{
    transform: translateY(0px);
  }
}
.the_famous_pink_ball
{
  margin-top: 122px;
  padding: 12px;
}
h1
{
  font-size: 92px;
  margin-bottom: 122px;
}
